* {
margin: 0;
padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #ADFF2F;
}

.tops {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.corner {
  display: flex;
  justify-content: space-between;
}

.p1 {
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
}

.words {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 10px;
}

.middle {
  background-image: url(https://ak0.picdn.net/shutterstock/videos/1711270/thumb/1.jpg);
}

.bottoms {
  padding: 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
